h3.white-header {
    color: white !important;
}

.title-white {
    color: white !important;
}

.force-white {
    color: white !important;
}

.title-base > h1 {
    font-size: 5rem;
}

.img-shadow {
    display: box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}