h3.white-header {
	color: white !important;
}

.title-white {
	color: white !important;
}

.force-white {
	color: white !important;
}

.title-base > h1 {
	font-size: 5rem;
}

.img-shadow {
	display: box !important;
	box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2), 0 6px 15px 0 rgba(100, 100, 100, 0.07) !important;
	border-radius: 7px !important;
}

.img-faded {
	opacity: 100%;
}

#carousel-size-control {
	height: 100vh !important;
}

/*
---------------------------
@media customizations
---------------------------
*/

@media (min-width: 1800px) {
	#carousel-soft-dev-img {
		width: 10rem !important;
		height: auto !important;
		margin-right:-125% !important;
	}
}

@media (min-width:1500px) {
	#carousel-soft-dev-img {
		width: 10rem !important;
		height: auto !important;
		
	}
}

@media (min-width: 1200px) {
	#carousel-soft-dev-img {
		width: 10rem !important;
		height: auto !important;
	}
}

@media (min-width: 992px) {
	#carousel-soft-dev-img {
		width: 10rem !important;
		height: auto !important;
	}
}

@media (min-width:769px) {
	#context-temp-2 {
		margin: 0px auto !important;
	}
	
	#parent-temp-2 {
		position: relative !important;
		right: 50% !important;
		text-align: center !important;
	}
	
	#carousel-soft-dev-img {
		width: 130rem !important;
		height: auto !important;
		margin-right:-100% !important;
	}
}

@media (min-width: 481px) {
	#carousel-soft-dev-img {
		display: inline-block !important;
		width: 50rem !important;
		height: auto !important;
		margin-right:-190% !important;
	}
}

@media (max-width: 480px) {
	#carousel-soft-dev-img {
		max-width: 414px !important;
		width: auto !important;
		height: auto !important;
		/* margin-right:-160vw !important; */
		/* margin-right:-185% !important;*/
		margin-top: 25vh;
		background-color: black;
	}
}